@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');
*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration:none;
  overflow: hidden;
}
body {
  
    /* font-family: 'Raleway', sans-serif; */
    /* font-size: 18px; */
  }
.sidebar {
  position: fixed;
  left: -250px;
  width: 250px;
  height: 100%;
  background: #728086;
  transition: all .5s ease;
}
.sidebar header {
  font-size: 22px;
  color: white;
  line-height: 70px;
  text-align: center;
  background: #255369;
  user-select: none;
}
.sidebar ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255,255,255,.1);
  transition: .4s;
}
ul li:hover a{
  padding-left: 50px;
}
.sidebar ul a i{
  margin-right: 16px;
}
#check{
  display: none;
}
label #btn,label #cancel{ 
  position: absolute;
  background: #436270;
  border-radius: 3px;
  cursor: pointer;
}
label #btn{
  left: 40px;
  top: 25px;
  font-size: 35px;
  color: white;
  padding: 6px 12px;
  transition: all .5s;
}
label #cancel{
  z-index: 1111;
  left: -195px;
  top: 17px;
  font-size: 30px;
  color: #0a5275;
  padding: 4px 9px;
  transition: all .5s ease;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  left: 250px;
  opacity: 0;
  pointer-events: none;
}
#check:checked ~ label #cancel{
  left: 195px;
}
#check:checked ~ section{
  margin-left: 250px;
}
section{
  background: url(https://raw.githubusercontent.com/anoopjayaram/sachinkuriakose/main/img/background_1.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
  transition: all .5s;
}
  div.intro {
    float: right;
    text-align: right;
    color: rgb(235, 222, 222);
    padding-top: 20%;
    padding-right: 10%;
    font-size: 170%;
    font-family: 'Courier New', Courier, monospace;
    position:   inherit;

  } 

/* footer section */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10%;
  background-color: #255369;
  color: rgb(10, 6, 6);
  text-align: center;
}

.bottom-footer-paragraph {
  /*display: inline-block;*/
  margin-right: 5px;
  margin-left: 5px;
}

.bottom-footer-link {
  color: #4a80a8;
}

.bottom-footer-link:hover {
  color: #fff;
}
